{{outlet}}

<div class="main">

  <h1>Demo</h1>

  {{file-input onUpload=(action "onUpload")}}

{{#if fileData}}
  <pre>name: {{fileData.name}}
  size: {{fileData.size}}
  result: {{base64Content}}
  type: {{fileData.type}}
  </pre>
{{/if}}

<p>
  <br/>
  <a href="https://github.com/hugoruscitti/ember-adjustable-number">github repo</a>
</p>

</div>
